
.search_suggestions{
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
    margin: 16px 0 0 14px;

    .suggestion{
        display: inline-block;
        position: relative;
        background-image: linear-gradient(92.97deg, #DA15B8 4.93%, #8D06CC 100%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        padding: 4px 6px 8px 6px;
        cursor: pointer;
        user-select: none;
        
    
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--plate-color);
            mix-blend-mode: screen;
            border-radius: 8px;
        }

        &:first-child{
            margin-right: 3px;
        }
    }
}
